*{
    margin: 0px;
    padding: 0px;
}
/* -------------main div--------- */
.main {
    position: relative; 
    height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::before {    
      content: "";
      background-image: url('images/back.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.8;
}
/* -----------css to display high score------------- */
#score{
    color: black;
    font-size: 200%;
    font-weight: 1000;
}
/* ---------css to display start button------------ */
#home{
    display: block;
    width: 50%;
    height: 18%;
    margin: auto;
}
#home img{
    height: 100%;
    width: 100%;
}
#play:hover{
    height: 98%;
    width: 98%;
}


.container{
    height: 80vmin;
    width: 80vmin;
    margin: 0px;
    padding: 0px;
    margin: auto;
    z-index: 1;
    opacity: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* ----------css for our main canvas or game board--------------- */
canvas{
    background-color: blanchedalmond;
    outline: 20px outset rgb(134, 128, 128);
    border: 2px solid black;
    display: none;
}

